<h1> Salut <%= @trainer.name %></h1>
<% @trainer.pokemons.each_with_rel do |node,rel| %>
      <%= node.name %>
      <%= rel.level %>
<% end %>

<%= @trainer_team %>

<h3> Who do you want to exchange ? </h3>

Speak to other trainer
<form>
  <input type="text" data-behavior="chat_speaker" />
</form>
<div id="chat" style="float:right;">
</div>
